body{
    background: rgb(124, 124, 124);
}

h1{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-align: center;
    animation-name: escala;
    animation-duration: 2s;
}
p, a{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    text-align: center;
    animation-name: escala;
    animation-duration: 2s; 
}

.contenedor{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.sub{
    width: 200px;
}
.sub:hover{
    animation: shadow-pulse 1000ms 1;
    background: rgb(57, 132, 182);
}
.image{
    animation-name: escala;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.rise{
    animation-name: ris;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}
footer{
    padding: 10px;
    background: rgb(48, 48, 48);
}

@keyframes escala{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(85, 207, 255, 0.6);
    }
    100%{
        box-shadow: 0 0 8px 16px rgba(57, 132, 182, 0);
    }
}
@keyframes ris{
    0%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
}